{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .ocultar {
            display: none;
        }
    </style>
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputPassword4">Capital:</label>
                <input type="number" class="form-control" id="money" min="50">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Tasa:</label>
                <input type="number" class="form-control" id="tasa" min="0">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Plazo de tiempo:</label>
                <input type="number" class="form-control" id="periodo" min="0">
            </div>

            <div class="form-group col-md-4">
                <label for="inputPassword4">Pago extraordinario:</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Tiempo pago:</label>
                <select class="form-control form-control-sm" id="periodos"></select>
            </div>
        </div>
        <button onclick="interesSimple()" class="btn btn-danger btn-sm float-right">Calcular interés simple</button>

        <button onclick="interesCompuesto()" class="btn btn-info">Calcular interés compuesto</button>
        <button onclick="tasa()" class="btn btn-info">tasa</button>
        <div class="form-row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Total:</label>
                <input type="txt" class="form-control" id="total" min="0">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Interés:</label>
                <input type="number" class="form-control" id="interes" min="50">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <table class="table">

                    <thead>
                        <tr>
                            <td>Cuota</td>
                            <td>Capital</td>
                            <td>Interés</td>
                            <td>Abono</td>
                        </tr>
                    </thead>

                    <tbody id="append">
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        function tasa(){
            var capital = $("#money").val();
            var tasa = $("#tasa").val();
            var periodo = $("#periodo").val();

            $.ajax({

                url:"/calcularInteres",
                method: 'post',
                data: {
                    capital : capital,
                    tasa    : tasa,
                    periodo : periodo
                },

                success:function(resp){
                }
            });
        }
        function interesSimple() {
            var tasa = $("#tasa").val();
            var periodo = $("#periodo").val();
            var money = parseInt($("#money").val());

            if(money, periodo, tasa){

                var interesSimple = parseInt(money * (tasa/100) * periodo);
                $("#interes").val(interesSimple);
                $("#total").val(interesSimple + money);

            }
        }

        function interesCompuesto() {

            var tasa = parseInt($("#tasa").val());
            var periodo = parseInt($("#periodo").val());
            var money = parseInt($("#money").val());

            if(money, periodo, tasa){

                var interesSimple = (money);

                for (i = 0; i < periodo; i++) {

                    var interesSimple = (interesSimple * (tasa/100) + interesSimple);
                    var interes = interesSimple * (tasa/100);
                    var saldo = interesSimple + interes;
                    if (i==0){
                        var interesSimple = (money);
                        var interes = interesSimple * (tasa/100);
                        var cuota = interesSimple / ((1 -(1+Math.pow((tasa/100),periodo)))/(tasa/100));
                        var saldo = interesSimple - interes;
                    }
                    $("#append").append("<tr>"+
                        "<td>"+ i +"</td>"+
                        "<td>"+interesSimple+"</td>"+
                        "<td>"+interes+"</td>"+
                        "<td>"+saldo+"</td>"+
                        "</tr>");

                    $("#periodos").append("<option>"+ "Cuota: " + i +"</option>");
                }


            }
        }
    </script>
{% endblock %}